.nav {
    height: 40px;
    border-bottom: 3px solid rgb(159, 52, 52);
    display: flex;
    align-items: center;
}

.nav_title {
    font-size: 30px;
}

.nav_subtitle {
    font-size: 10px;
    margin-bottom: 0;
}

.nav_items {
    display: flex;
    font-size: 15px;
    margin-left: auto;
    margin-right: 25px;
}

.nav_item {
    margin-left: 10px;
}

.main_title {
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.main_subtitle {
    height: 30px;
    text-align: center;
    font-size: 15px;
}

.main_content {
    font-size: 10px;
    text-align: center;
}

.footer {
    height: 40px;
    font-size: 10px;
}